<div class="row marketing">
  <div class="col-lg-6">
    <h4>案内</h4>
    <p>芝浦工業大学 工学部 情報工学科
      〒135-8548 東京都江東区豊洲3-7-5 研究棟 14F 32A

      【芝浦工業大学 豊洲キャンパス へのアクセス】

      有楽町線豊洲駅1Cまたは3番出口から徒歩7分
      JR京葉線越中島駅2番出口から徒歩15分
      </p>
  </div>
</div>
