<div class="mainBanner" style="background:url(<%= asset_path "home.jpg" %>);background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> 
	<h2>人とものとの新たなコミュニケーション</h2>
	<p class="lead">先端的な組込みシステム、オペレーティングシステム、スマートロボット、IoTサービスやプラットフォーム</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<h2>基盤システムソフトウェア研究室(doly lab)とは</h2>
	<p>2013年に新しくできました。
	  互いに助け合い、学び合い、 切磋琢磨して成長し、
	  エンジニアリング力の基礎となる人間力を築く研究室です。 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-2">
	<div class="introcaption">
	  <p>次世代システムのためのソフトウェア基盤</p>
	</div>
	<div class="introdiscription">
	  <p>言いたいことがはっきり言える</p>
	  <p>積極的に外部発表に挑む</p>
	</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
	<div class="introcaption">
	  <p>ロボットプラットフォーム</p>
	</div>
	<div class="introdiscription">
	  <p>顔が広く様々な方々のお話を聞ける</p>
	  <p>イベント後に</p>
	  <p></p>
	</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
	<div class="introcaption">
	  特徴
	</div>
	<div class="introdiscription">

	</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
	<div class="introcaption">
	  特徴
	</div>
	<div class="introdiscription">

	</div>
      </div>
	    <ul>
	      <h4>こんな環境の研究室です</h4>
	      <li>はっきり言いたいことが言える</li>
	      <li>積極的に外部発表に挑もうとする意欲のある先輩</li>
	      <li>飲み会を通して、社会人としてのあり方を教えてくれる教授</li>
	    </ul>
	    <ul>
	      <h4>その他にも</h4>
	      <li>イベント後に毎回開催される打ち上げ(飲み会)</li>
	      <li>菅谷先生(の顔の広さ)による、企業で活躍する技術者や研究者の方等のお話を聞ける機会</li>
	      <li>他の研究室の方々を招き、開かれるBBQなどが開催されます！！</li>
	    </ul>

	  </div>
	</div>
      </div>

    </div>
    <div class="row">
      
      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>ニュース</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <p>組込みシステム</p>
	    <p> オペレーティングシステム</p>
	    <p>ロボットクラウドシステム</p>
	    <p>IoTサービス・プラットフォーム</p>
	    <p>ITロボット（生活支援、見守り、落し物発見、セラピー)</p>
	    <p>分散ロボットシステム</p>
	    <p>教育システム・教材開発</p>
	  </div>
	</div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h4>Fabrication Laboratory</h4>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>新しいものづくりを目指して</p>    
	    <p>FabGirl Project : 芝浦 : 女性教員x女子学生横断プロジェクト</p>	    	  </div>
	</div>
      </div>
      
    </div>
  </div>
</div>


    

    


