<div class="mainBanner" style="background-image:url(<%= asset_path "home.jpg" %>);" />
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> 
	<h2>人とものとの新たなコミュニケーション</h2>
	<p class="lead">先端的な組込みシステム、オペレーティングシステム、スマートロボット、IoTサービスやプラットフォーム</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>研究テーマ</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>先端的な組込みシステム, オペレーティングシステム,ロボットクラウドシステム，IoTサービスやプラットフォーム
	      ITロボット（生活支援、見守り、落し物発見）, 分散ロボットシステム，
	      高信頼, 安全システム, 教育システム, 教材開発，感情のわかるロボットに向けて，その他 </p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h4>研究室、メンバー紹介</h4>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>2013年にできた新しい研究室です.
	      互いに助け合い, 学び合い, 切磋琢磨して成長する.
	      エンジニアリング力の基礎となる人間力の土台を築く研究室です. </p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h4>講義</h4>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>前期 : プログラミング入門1, 組込みシステム, システムプログラミング
	      後期 : オペレーティングシステム(日/英), 高度情報演習2C</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h4>Fabrication Laboratory</h4>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>新しいものづくりを目指して</p>    
	    <p>FabGirl Project : 芝浦 : 女性教員x女子学生横断プロジェクト</p>	    	  </div>
	</div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    
	  </div>
	</div>
      </div>
      
    </div>
  </div>
</div>


    

    


