<div class="section">
  <div class="container">
		
    <div class="row">
      <div class="col-xs-12">
				<h3>ニュース関連</h3>
      </div>
      <div class="col-xs-12">
				<p><%= link_to "新規ニュース追加", "news/new" %></p>
				<p><%= link_to "既存ニュースの編集・削除", "news" %></p>
      </div>
    </div>
    
    <div class="row">  
      <div class="col-xs-12">
				<h3>プロジェクト関連</h3>
      </div>
      <div class="col-xs-12">
				<p><%= link_to "新規プロジェクトの追加", "project/new" %></p>
				<p><%= link_to "既存プロジェクトの編集・削除", "project" %></p>
			</div>
    </div>
    
  </div>
</div>
