<div class="row marketing">
  <div class="col-lg-6">
    <h4>准教授</h4>
    <p>菅谷 みどり</p>
    <h4>修士2年(M2)</h4>
    <p>中山 悟</p>
    <p>柳田 将希</p>
    <h4>修士1年</h4>
    <p>池田 悠平</p>
    <p>小野 建也</p>
    <p>保科 篤志</p>
    <h4>学部4年</h4>
    <p>川島 直也</p>
    <p>天利 友弥</p>
    <p>糸数 泰成</p>
    <p>寒竹 俊之</p>
    <p>千代田 直哉</p>
    <p>鶴田 昂丈</p>
    <p>中島 凌</p>
    <p>西田 裕己</p>
    <p>西村 拓哉</p>
    <p>平松 拓也</p>
    <h4>研究者</h4>
    <p>渡辺 柚佳子</p>
  </div>
</div>

