<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>准教授</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <p>菅谷 みどり</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>修士2年(M2)</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	     <p>中山 悟</p>
	     <p>柳田 将希</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>修士1年(M1)</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <p>池田 悠平</p>
	    <p>小野 建也</p>
	    <p>保科 篤志</p>
    	  </div>
	</div>
      </div>
      
      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>学部4年</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <p>川島 直也</p>
	    <p>天利 友弥</p>
	    <p>糸数 泰成</p>
	    <p>寒竹 俊之</p>
	    <p>鶴田 昂丈</p>
	    <p>中島 凌</p>
	    <p>西田 裕己</p>
	    <p>西村 拓哉</p>
	    <p>平松 拓也</p>
	  </div>
	</div>
      </div>
   
      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12 col-sm-6">
	    <h3>研究者</h3>
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <p>渡辺 柚佳子</p>
	  </div>
	</div>
      </div>

    </div>
  </div>
</div>
