<div class="section">
	<div class="container">
		<div class="row">
			
      <div class="col-xs-12">
				<div class="col-xs-12">
					<h3>プロフィール</h3>
				</div>
				<div class="col-xs-12">
					<%= image_tag "profile.jpg", class:"img-responsive center-block", id:"profileimg" %>
					<p>Dr. Midori Sugaya, Associate Professor</p>
					<p>Department of Infomation Science and Engineering</p>
					<p>School of Science and Engineering</p>
					<p>Shibaura Institute of Technology</p>
				</div>
      </div>
      
      <div class="col-xs-12">
				<div class="col-xs-12">
					<h3>コンタクト</h3>
				</div>
				<div class="col-xs-12">
					<p>135-8548. 14-A-32, Research Buld.14F</p>
					<p>3-7-5, Toyosu, Koto-Ku, Tokyo</p>
					<p>e-mail: doly _at_ shibaura-it.ac.jp</p> 
					<p>phone : +81-03-5859-8517</p>
				</div>
      </div>
      
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3>略歴</h3>
				</div>
				<div class="col-xs-12">
					<p>Midori Sugaya received her Ph.D. in Computer Science from Waseda University in 2010.</p>
					<p>She received her Master of Computer Science from Waseda University in 2004.</p>
					<p>Prior to joining Shibaura Institute of Technology in April 2013, she was a lecture professor in Yokohama National University.</p>
					<p>Previously, she was an a researcher of CREST project that was "Dependable Operating Systems for Embedded Systems Aiming at Practical Applications.", and also belong to Research and Development Center of the project from 2008-2010.</p> 
					<p>She is a temporary assistant lecturer in Waseda University from 2010 to 2013, and Aoyama Short-Term University from 2008 to 2009, and a research associate in Waseda University from 2006 to 2008.</p>
					<p>Before starting the academic career, she worked as an engineer in private company.</p>
				</div>
      </div>
			
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3>予算・プロジェクト</h3>
				</div>
				<div class="col-xs-12">
					<ul class="list-group">
						<li class="list-group-item">2015年9月, 情報処理学会，インタラクション2015, 運営委員</li>
						<li class="list-group-item">2015年4月，情報処理学会，システムソフトウエアとオペレーティングシステム研究会，運営委員（幹事補佐）</li>
						<li class="list-group-item">2015年4月, 情報処理学会, 学会誌編集委員(SWG)，幹事</li>
						<li class="list-group-item">2015年4月, 情報処理学会，ACSI(Annual Meeting on Advanced Computing System and Infrastructure), プログラム委員</li>
						<li class="list-group-item">2015年4月, 情報処理学会，WebDBForum, ローカルアレンジメント幹事（芝浦工大開催）</li>
						<li class="list-group-item">2015年4月, 人間情報学会，理事</li>
						<li class="list-group-item">2015年4月, 情報処理学会，ユビキタスコンピューティング研究会，運営委員</li>
						<li class="list-group-item">2015年4月, enPiT(http://www.enpit.jp/), 組込みシステム分野，運営委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会，ACSI(Annual Meeting on Advanced Computing System and Infrastructure), プログラム委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会，WebDBForum, ローカルアレンジメント幹事（芝浦工大開催）</li>
						<li class="list-group-item">2014年4月, 人間情報学会，理事</li>
						<li class="list-group-item">2014年4月，情報処理学会，システムソフトウエアとオペレーティングシステム研究会，運営委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会, 学会誌編集委員(SWG)</li>
						<li class="list-group-item">2014年4月, enPiT(http://www.enpit.jp/), 組込みシステム分野，運営委員</li>
						<li class="list-group-item">2014年, 4月, 情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2014) , ローカルアレンジメント幹事</li>
						<li class="list-group-item">2014年 4月- 2014年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2014), 総務委員長</li>
						<li class="list-group-item">2013年 4月- 2014年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2013)プログラム副委員長</li>
						<li class="list-group-item">2013年 4月- 2014年3月 情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2013) 運営、プログラム委員、ローカルアレンジメント</li>
						<li class="list-group-item">2013年4月-2016年3月 情報処理学会、会誌編集委員</li>
						<li class="list-group-item">2012年 11月-2013年6月　SACSIS 2013 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2012年 4月- 2013年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2012) 運営委員長</li>
						<li class="list-group-item">2012年4月-2013年3月　情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2012) 運営、プログラム委員ACS論文誌査読委員</li>
						<li class="list-group-item">2012年 1月- 2016年1月　情報処理学会，OS 研究会，運営委員(4年任期)</li>
						<li class="list-group-item">2012年1月- 2012年 5月　2nd International Workshop on Open Systems Dependability: Adaptation to Changing World (In conjunction with the 23rd IEEE International Symposium on Software Reliability Engineering), Dallas, TX USA, Local Arrangement Committee.</li>
						<li class="list-group-item">2012年 1月-2012年 5月　2nd International Workshop on Open Systems Dependability: Adaptation to Changing World (In conjunction with the 23rd IEEE International Symposium on Software Reliability Engineering), Dallas, TX USA, Local Arrangement Committee.</li>
						<li class="list-group-item">2011年 11月-2012年6月　SACSIS 2012 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2011年 4月-2012年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2011) 運営委員長</li>
						<li class="list-group-item">2011年 4月-2012年3月　OS研究会主催コンピュータシステムシンポジウム (ComSys 2011) 運営、プログラム委員ACS論文誌査読委員,</li>
						<li class="list-group-item">2010年 11月-2011年6月　SACSIS 2011 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2010年11月-2011年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2010) 運営委員長</li>
						<li class="list-group-item">2009年 11月-2010年3月　SACSIS 2011 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS論文誌査読委員,</li>
						<li class="list-group-item">2010年 4月- 2011年3月　OS研究会主催コンピュータシステムシンポジウム (ComSys 2010) 運営、プログラム委員, ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2009年 4月- 2010年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2009) 運営委員</li>
						<li class="list-group-item">2008年 8月-2009年 3月　OS研究会主催コンピュータシステムシンポジウム(ComSys 2009) 運営、プログラム 委員, ACS論文誌査読委員</li>
						<li class="list-group-item">2008年 4月-2008年11月　12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, Finance and Local Chair and STFSSD Committee</li>
						<li class="list-group-item">2007年 3月- 2011年 3月　第20回 コンピュータシステム・シンポジウム (ComSys 2008)プログラム委員, ACS論文誌査読委員</li>
						<li class="list-group-item">2006年 4月-2006年 3月　情報処理学会，組込みシステム研究会，運営委員(4年任期)</li>
						<li class="list-group-item">2006年 4月-2008年 3月　次世代コンピューティングシステムに関する合同ワークショップ企画運営委員長</li>
						<li class="list-group-item">2005年 4月- 2006年3月 組込みシステム技術に関するサマースクール 実行委員長</li>
						<li class="list-group-item">2004年 6月- 2006年3月 Emblix(Japan Embedded Linux Consortium)リソースマネジメントWG幹事 日本ソフトウエア科学会,電子情報通信学会, 情報処理学会論文査読多数</li>
						<li class="list-group-item">2015-2016年　立石科学技術振興財団2015年度研究助成</li>
						<li class="list-group-item">2015-2018年 独立行政法人科学技術振興機構，基盤研究(C) ビックデータ時代のロボットプラットフォーム</li>
						<li class="list-group-item">2015年 　 芝浦工業大学 FD•SD 活動助成</li>
						<li class="list-group-item">2014年 　 芝浦工業大学 FD•SD 活動助成</li>
						<li class="list-group-item">2013年　 芝浦工業大学　スタートアップ予算</li>
						<li class="list-group-item">2012-2013年　東京大学基盤センター、学際大規模情報基盤共同利用・共同研究拠点公募型共同研究（副代表）</li>
						<li class="list-group-item">2011-2012年　スーパーコンピュータ若手利用者推薦(代表)</li>
						<li class="list-group-item">2006年-2007年　日本学術振興会科学研究費補助金（若手研究（スタートアップ））（代表）、組込みシステムのリアルタイム性能と応答性を考慮したソフトウェア資産移行支援</li>
						<li class="list-group-item">2007年、企業共同研究（研究委託） CABI SMPに関する研究</li>
						<li class="list-group-item">2005-2006年　IPA 情報処理推進機構, オープンソースソフトウェア活用基盤整備事業（共同開発者）</li>
						<li class="list-group-item">2007-2008年　組込みLinuxへのQOS（Quality Of Service）機能の実装及び標準化</li>
						<li class="list-group-item">2003-2004年　IPA, 未踏ソフトウェア創造事業（共同開発者）ロバストな組み込み向けオペレーティングシステム</li>
						<li class="list-group-item">2004年-2008　その他複数の企業との共同研究プロジェクトの担当，補助協力</li>
						<li class="list-group-item"></li>

					</ul>
				</div>
      </div>

			<div class="col-xs-12">
        <div class="col-xs-12">
          <h3>学会活動</h3>
        </div>
        <div class="col-xs-12">
					<ul class="list-group">
						<li class="list-group-item">2015年9月, 情報処理学会，インタラクション2015, 運営委員</li>
						<li class="list-group-item">2015年4月，情報処理学会，システムソフトウエアとオペレーティングシステム研究会，運営委員（幹事補佐）</li>
						<li class="list-group-item">2015年4月, 情報処理学会, 学会誌編集委員(SWG)，幹事</li>
						<li class="list-group-item">2015年4月, 情報処理学会，ACSI(Annual Meeting on Advanced Computing System and Infrastructure), プログラム委員</li>
						<li class="list-group-item">2015年4月, 情報処理学会，WebDBForum, ローカルアレンジメント幹事（芝浦工大開催）</li>
						<li class="list-group-item">2015年4月, 人間情報学会，理事</li>
						<li class="list-group-item">2015年4月, 情報処理学会，ユビキタスコンピューティング研究会，運営委員</li>
						<li class="list-group-item">2015年4月, enPiT(http://www.enpit.jp/), 組込みシステム分野，運営委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会，ACSI(Annual Meeting on Advanced Computing System and Infrastructure), プログラム委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会，WebDBForum, ローカルアレンジメント幹事（芝浦工大開催）</li>
						<li class="list-group-item">2014年4月, 人間情報学会，理事</li>
						<li class="list-group-item">2014年4月，情報処理学会，システムソフトウエアとオペレーティングシステム研究会，運営委員</li>
						<li class="list-group-item">2014年4月, 情報処理学会, 学会誌編集委員(SWG)</li>
						<li class="list-group-item">2014年4月, enPiT(http://www.enpit.jp/), 組込みシステム分野，運営委員</li>
						<li class="list-group-item">2014年, 4月, 情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2014) , ローカルアレンジメント幹事</li>
						<li class="list-group-item">2014年 4月- 2014年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2014), 総務委員長</li>
						<li class="list-group-item">2013年 4月- 2014年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2013)プログラム副委員長</li>
						<li class="list-group-item">2013年 4月- 2014年3月 情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2013) 運営、プログラム委員、ローカルアレンジメント</li>
						<li class="list-group-item">2013年4月-2016年3月 情報処理学会、会誌編集委員</li>
						<li class="list-group-item">2012年 11月-2013年6月　SACSIS 2013 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2012年 4月- 2013年3月　情報処理学会、組込み研究会主催組込みシステムシンポジウム(ESS, 2012) 運営委員長</li>
						<li class="list-group-item">2012年4月-2013年3月　情報処理学会, OS研究会主催コンピュータシステムシンポジウム (ComSys 2012) 運営、プログラム委員ACS論文誌査読委員</li>
						<li class="list-group-item">2012年 1月- 2016年1月　情報処理学会，OS 研究会，運営委員(4年任期)</li>
						<li class="list-group-item">2012年1月- 2012年 5月　2nd International Workshop on Open Systems Dependability: Adaptation to Changing World (In conjunction with the 23rd IEEE International Symposium on Software Reliability Engineering), Dallas, TX USA, Local Arrangement Committee.</li>
						<li class="list-group-item">2012年 1月-2012年 5月　2nd International Workshop on Open Systems Dependability: Adaptation to Changing World (In conjunction with the 23rd IEEE International Symposium on Software Reliability Engineering), Dallas, TX USA, Local Arrangement Committee.</li>
						<li class="list-group-item">2011年 11月-2012年6月　SACSIS 2012 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2011年 4月-2012年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2011) 運営委員長</li>
						<li class="list-group-item">2011年 4月-2012年3月　OS研究会主催コンピュータシステムシンポジウム (ComSys 2011) 運営、プログラム委員ACS論文誌査読委員,</li>
						<li class="list-group-item">2010年 11月-2011年6月　SACSIS 2011 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2010年11月-2011年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2010) 運営委員長</li>
						<li class="list-group-item">2009年 11月-2010年3月　SACSIS 2011 (Symposium on Advanced Computing Systems and Infrastructures)運営、プログラム委員、ACS論文誌査読委員,</li>
						<li class="list-group-item">2010年 4月- 2011年3月　OS研究会主催コンピュータシステムシンポジウム (ComSys 2010) 運営、プログラム委員, ACS連携号論文誌査読委員</li>
						<li class="list-group-item">2009年 4月- 2010年3月　組込み研究会主催組込みシステムシンポジウム(ESS, 2009) 運営委員</li>
						<li class="list-group-item">2008年 8月-2009年 3月　OS研究会主催コンピュータシステムシンポジウム(ComSys 2009) 運営、プログラム 委員, ACS論文誌査読委員</li>
						<li class="list-group-item">2008年 4月-2008年11月　12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, Finance and Local Chair and STFSSD Committee</li>
						<li class="list-group-item">2007年 3月- 2011年 3月　第20回 コンピュータシステム・シンポジウム (ComSys 2008)プログラム委員, ACS論文誌査読委員</li>
						<li class="list-group-item">2006年 4月-2006年 3月　情報処理学会，組込みシステム研究会，運営委員(4年任期)</li>
						<li class="list-group-item">2006年 4月-2008年 3月　次世代コンピューティングシステムに関する合同ワークショップ企画運営委員長</li>
						<li class="list-group-item">2005年 4月- 2006年3月 組込みシステム技術に関するサマースクール 実行委員長</li>
						<li class="list-group-item">2004年 6月- 2006年3月 Emblix(Japan Embedded Linux Consortium)リソースマネジメントWG幹事 日本ソフトウエア科学会,電子情報通信学会, 情報処理学会論文査読多数</li>

					</ul>
        </div>
      </div>

    </div>
  </div>
</div>

