<div class="section">
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12">
	    <h3>2016</h3>
	  </div>
	  <div class="col-xs-12">
	    <p>芝浦工業大学 工学部 情報工学科</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12">
	<div class="col_box clearfix">
	  <div class="col-xs-12">
	    <h3>2015</h3>
	  </div>
	  <div class="col-xs-12">
	    <p>【芝浦工業大学 豊洲キャンパス へのアクセス】</p>
	  </div>
	</div>
      </div>
    
    </div>
  </div>
</div>
