<div class="row marketing">
  <div class="col-lg-6">
    <h4>論文誌(Journals)</h4>
    <p></p>
    <h4>査読付き国際学会</h4>
    <p></p>
    <h4>査読付き国内学会</h4>
    <p></p>
    <h4>研究会、その他(Domestic Symposium, Others, Talks)</h4>
    <p></p>
    <h4>講演、チュートリアル、パネル(Tutorial, Panel Discussion)</h4>
    <p></p>
    <h4>書籍(Books)</h4>
    <p></p>
  </div>
</div>
