<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
	  <div class="col-xs-12">
	    <h3>論文誌(Journals)</h3>
	  </div>
	  <div class="col-xs-12">
	    <ul class="list-group">
	      <li class="list-group-item"> Midori Sugaya, Hiroki Takamura, Yoichi Ishiwata, Satoshi Kagami, Kimio Kuramitsu, “Online Kernel Log Analysis for Robotics Application”, Journal of Information Processing (JIP), Special Issue of "Embedded Systems Engineering", Vol.21, No.1, 2013.</li>
	      <li class="list-group-item"> 谷口一徹, 安藤友樹, 高瀬英希, 安積卓也, 松原豊, 細合晋太郎, 村上靖明,菅谷みどり, "学生および若手技術者による組込みシステム技術に関するサマースクールの実践," 情報処理学会論文誌, 52(12), pp.3221-3237. 2011年12月. </li>
	      <li class="list-group-item"> Sayaka Akioka , Yuki Ohno , Midori Sugaya , Tatsuo Nakajima , A Library-based Performance Tool for Mul class="list-group"ticore Pervasive Servers, Journal of Information Processing (JIP), IPSJ Journal and in the Information and Media Technologies, Vol.52 No.8, pp. 2378-2386, August, 2011.</li>
	      <li class="list-group-item"> 菅谷みどり, 中島達夫, 情報家電向けLinuxのCPU資源制限システムの設計と実装, 電子情報通信学会論文誌, VOL.J93-D No.10 October 2010. pp 2001-2010. </li>
	      <li class="list-group-item"> Ki Duk Kwon, Midori Sugaya, Tatsuo Nakajima, "KTAS: Analysis of Timer Latency for Embedded Linux Kernel," International Journal of Advanced Science and Technology (IJAST), Vol. 19, pp. 59-70, June 2010.</li>
	      <li class="list-group-item"> Midori Sugaya, Yuki Ohno, Tatsuo Nakajima, Lightweight Anomaly Detection System with HMM Resource Modeling. International Journal of Security and Its Applications (IJSIA) , Vol. 3, No. 3, Jul class="list-group"y, 2009, pp.35-54.</li>
	      <li class="list-group-item"> Tatsuo.Nakajima, Midori.Sugaya, et al. ; Software Infrastructures for Building Ubiquitous Computing Environments, Journal of Computer Systems Science and Engineering, Vol. 22, No. 3, 2007.pp. 155-166.</li>
	    </ul class="list-group">
	  </div>
      </div>
      
      <div class="col-xs-12">
	<div class="col-xs-12">
	  <h3>査読付き国際学会</h3>
	</div>
	<div class="col-xs-12">
	  <ul class="list-group">
	    <li class="list-group-item">Harumi Watanabe, Ikuta Tanigawa, Midori Sugaya, Nobuhiko Ogura, Kenji Hisazumi, A Development of Educational Robot Software for Master's Course Students, 2015 Workshop on Embedded and Cyber-Physical Systems Education (WESE), October 8, 2015, Amsterdam, Netherlands.</li>
	      <li class="list-group-item">Midori Sugaya, Yoshiko Okada, Hirotaka Osawa, Irini Giannopul class="list-group"u, Feel as Agent: Immersive Dollhouse Enhances Sociality of Children with Developmental Disorders, Proceedings of the 3rd international conference on Human-Agent Interaction (HAI), 2015. Daegu Korea.</li>
	      <li class="list-group-item">Atsushi Hoshina, Miyuki Nakano, Midori Sugaya, Collision Detection for Bicycle and Pedestrian Exchange GPS Location in Smartphone, Smart Cities 2015, Ubicomp co-related workshop, Poster, 2015, Osaka.</li>
	      <li class="list-group-item">Yukako Watanabe, Yoshiko Okada, Hirotaka Osawa, Midori Sugaya, Digital Play Therapy for Developmental Disorders,Human Computing Interaction International 2015 (HCI 2015)</li>
	      <li class="list-group-item">Miyuki Yanagi, Midori Sugaya, Ryota Horie, How Kawaii Attributes are Composed in a Thing, Asian CHI Symposia 2015, Seoul class="list-group", Korea , 18-23 April. 2015.</li>
	      <li class="list-group-item">Yukako Watanabe, Yoshiko Okada, Hirotaka Osawa, Midori Sugaya, Digital play therapy for children with learning disabilities, Proceedings of the second international conference on Human-agent interaction ? HAI’14,185-188, 2014-10-30,<B><i>Best Poster Prize First Place</i></B></li>
	      <li class="list-group-item">Harumi Watanabe, Midori Sugaya, Ikuta Tanigawa, Nobuhiko Ogura, Kenji Hisazumi, Context-Oriented Programming for Mul class="list-group"ti-Dimensional Robotics Service, Context Oriented Programming Workshop, 2015</li>
	      <li class="list-group-item">Ikuta Tanigawa, Nobuhiko Ogura, Midori Sugaya, Harumi Watanabe, Kenji Hisazumi : A Structure of a C# Framework ContextCS Based on Context-Oriented Programming, 14’th International Conference on Modul class="list-group"arity, Modul class="list-group"arity '15, (2015) </li>
	      <li class="list-group-item"> Ikuta Tanigawa, Nobuhiko Ogura, Midori Sugaya, Harumi Watanabe : A Framework of Context-Oriented Programing to Overcome Three Problems, Annual Meeting on Advanced Computing System and Infrastructure (ACSI) 2015, (2015)</li>
	      <li class="list-group-item"> Ikuta Tanigawa, Harumi Watanabe, Midori Sugaya, Kenji Hisazumi : A Case Study: How to Find and Reify a Research Theme on Project Based Learning for Master's Course Education, Software Engineering Education Workshop Co-located with The 21st Asia Pacific Software Engineering Conference (APSEC), (2014)</li>
	      <li class="list-group-item">Ikuta Tanigawa, Midori Sugaya, Nobuhiko Ogura, Harumi Watanabe : A Demonstration for Focusing on Separation of Debugging Concerns based on Dynamic Program Rewriting Tool : Piggy’s Weaver, Design, Automation and Test in Europe Conference and Exhibition (DATE) 2014, (2014)</li>
	      <li class="list-group-item">Motoki Yoan, Midori Sugaya, Kimio Kuramitsu, “A Study of Converting Risk to Assurance Case”, The 2nd International Workshop on Open Systems Dependability : Adaptation to a Changing World (WOSD’12), In Proceedings of Software Reliability Engineering Workshop (ISSREW), 2012 IEEE 23rd International Symposium, Boston, 27-30 Nov. 2012. pp.313-315.
		<li class="list-group-item">Takuma Wakamori, Masashiro Ide, Midori Sugaya, Kimio Kuramitsu, “Reconfigurable Scripting Language with Programming Risk”, The 2nd International Workshop on Open Systems Dependability : Adaptation to a Changing World (WOSD’12), In Proceedings of Software Reliability Engineering Workshop (ISSREW), 2012 IEEE 23rd International Symposium, Boston, 27-30 Nov. Boston, 2012, pp.316-318.
		  <li class="list-group-item">Shinpei Nakata, Midori Sugaya, Kimio Kuramitsu, ”Requirement Monitoring with Foreign Function Calls”, The 42nd Annual IEEE/IFIP International Conference on Dependable Systems and Networks (DSN 2012), First Abstract, Boston, Massachusetts June, 2012.
		    <li class="list-group-item">Midori Sugaya, Ken Igarashi, Masaaki Goshima, Shinpei Nakata, Kimio Kuramitsu, Yoichi Ishiwata and Satoshi Kagami, Extensible Online Log Analysis System, 13th European Workshop on Dependable Computing (EWDC’11), Pisa, Italy, 11-12 May 2011.
		      <li class="list-group-item">Midori Sugaya, Kimio Kuramitsu, “Online Anomaly Symptom Detection and Process’s Resource Usage Control”, 10th IEEE International Symposium on Autonomous Decentralized Systems (ISADS’11), Tokyo, Japan, March 23-27, 2011.
			<li class="list-group-item"> Shinpei Nakata, Midori Sugaya and Kimio Kuramitsu, “Faul class="list-group"t Model of Foreign Function Interface across Different Domains, The 1st International Workshop on Open Systems Dependability : Adaptation to a Changing World (WOSD’11), Hon Kong, China, June 27-30, 2011.
			  <li class="list-group-item">Yutaka Matsuno, Jin Nakazawa, Makoto Takeyama, Midori Sugaya, and Yutaka Ishikawa,Toward a Language for Communication among Stakeholders, The 16th IEEE Pacific Rim International Symposium on Dependable Computing (PRDC'10), December 13-15, 2010.
			    <li class="list-group-item">Yuki Ohno, Sayaka Akioka, Midori Sugaya and Tatsuo Nakajima, A Library-based Tool to Improve CPU Assignment for High Performance Pervasive Servers, The 16th IEEE International Conference on Embedded and Real-Time Computing Systems and Applications (RTCSA 2010) August, 2010.
			      <li class="list-group-item">Hideki Takase, Takuya Azumi, Ittetsu Taniguchi, Yutaka Matsubara, Hayato Kanai, Shintaro Hosoai and Midori Sugaya, "History of Summer School on Embedded System Technologies Organized by Students and Young Engineers", 2009 Workshop on Embedded Systems Education (WESE'09), Grenoble, France, Oct 2009, pp. 19-26.
				<li class="list-group-item">Yuki Kinebuchi, Kazuo Makijima, Takushi Morita, Midori Sugaya, Tatsuo Nakajima, "Constructing Mul class="list-group"tiOS Platform with Minimal Engineering Cost", Analysis, Architectures and Modelling of Embedded　Systems: Third IFIP TC 10 International Embedded Systems Symposium,　IESS 2009, Langenargen, Germany, September , 2009, pp195-203.
				  <li class="list-group-item"> Ki-duk Kwon, Midori Sugaya, Tatsuo Nakajima, "Analysis of Embedded Kernel using Kernel Analysis System", The 6th IEEE International Conference on Embedded Software and Systems, 2009, pp.417-422.
				    <li class="list-group-item"> Midori Sugaya, Yuki Ohno, Andrej van der Zee and Tatsuo Nakajima, "A Lightweight Anomaly Detection System for Information Appliances", 12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, March 17-20, 2009, pp257-pp266.
				      <li class="list-group-item"> Takuya Katayama, Tomoji Kishi, Tatsuo Nakajima, Taiich Yuasa, Shintaro Hosoai, Midori Sugaya, and Tomoharu Ugawa, 12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, March 17-20, 2009, pp105-pp111.
					<li class="list-group-item">Yutaka Ishikawa, Hajime Fujita, Toshiyuki Maeda, Motohiko Matsuda, Midori Sugaya, Mitsuhisa Sato, Toshihiro Hanawa, Shin'ichi Miura, Taisuke Boku, Yuki Kinebuchi, Lei Sun, Tatsuo Nakajima, Jin Nakazawa, Hideyuki Tokuda: Towards an Open Dependable Operating System. 12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, March 17-20, 2009, pp.20-27.
					  <li class="list-group-item">Yuki Kinebuchi, Tatsuo Nakajima, Jin Nakazawa, and Hideyuki Tokuda "Towards an Open Dependable Operating System", 12th IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC 2009) Tokyo, Japan, March 17-20, 2009. pp20-pp28.
					    <li class="list-group-item"> Sayaka Akioka, Midori Sugaya, et al, "A Scalable Monitoring System for Distributed Environments" , First International Workshop on Software Technologies for Future Dependable Distributed Systems (STFSSD 2009), March, 2009 . CD-ROM.
					      <li class="list-group-item">Yuki Ohno, Midori Sugaya, Andrej van der Zee, and Tatsuo Nakajima, "Anomaly Detection System using Resource Pattern Learning", First International Workshop on Software Technologies for Future Dependable Distributed Systems (STFSSD 2009) , March, 2009 . CD-ROM.
						<li class="list-group-item">Kiduk Kwon, Midori Sugaya, and Tatsuo Nakajima, "Analysis of High Resolution Timer Latency using Kernel Latency Analysis System in Embedded System", First International Workshop on Software Technologies for Future Dependable Distributed Systems (STFSSD 2009) , March, 2009 . CD-ROM.
						  <li class="list-group-item"> Tatsuo Nakajima, Midori Sugaya, et. al., ``An Operating System Architecture for Future Information Appliances'', In Proceedings of IFIP International Workshop on Software Technologies for Future Embedded and Ubiquitous Systems, 2008.
						    <li class="list-group-item"> Yuki Kinebuchi, Midori Sugaya, Shuichi Oikawa, Tatsuo Nakajima, ``Task Grain Schedul class="list-group"ing for Hypervisor-Based Embedded System'', In Proceeding of the 10th IEEE International Conference on High Performance Computing and Communications (HPCC-08), 2008, pp190-pp197.
						      <li class="list-group-item"> Yutaka Matsubara, Midori Sugaya, Ittetsu Taniguchi, Yasuaki Murakami, Hayato Kanai, and Hiroaki Takada, ``SSEST: Summer School on Embedded System Technologies,'' The 1st Asia-Pacific Workshop on Embedded System Education and Research (APESER2007), Hsinchu, Taiwan, 7 Dec., 2007.
							<li class="list-group-item">Midori Sugaya and Yuki Kinebuchi, Shuichi Oikawa, Tatsuo Nakajima, VPE: VirtualPeriodic Execution for Embedded System, RTAS 2007, 13th IEEE Real-Time and Embedded Technology and Applications Symposium (RTAS2007) , Bellevue, WA, United States, April 3 - April 6, 2007.
							  <li class="list-group-item">Midori Sugaya, Shuichi Oikawa, Tatsuo Nakajima; Accounting System: A Fine-Grained CPU Resource Protection Mechanism for Embedded System，9th IEEE International Symposium on　Object and component-oriented Real-time distributed Computing (ISORC2006), April, 2006, pp 72-84.
							    <li class="list-group-item">Midori Sugaya, Shuichi Oikawa, Tatsuo Nakajima; Design and Implementation of Accounting System for Embedded Information Appliances, The 2005 IFIP International Conference on　Embedded And Ubiquitous Computing (EUC2005), December 2005, pp.110-120, Springer LNCS.
							      <li class="list-group-item">Tatsuo Nakajima, Midori Sugaya, Shuichi Oikawa, Operating Systems for Building Robust Embedded Systems, In Proceedings of the 10th IEEE International Workshop on Object-Oriented Real-Time Dependable Systems, pp. 211~218, February 2005.
								<li class="list-group-item">Shuichi Oikawa, Midori Sugaya, Tatsuo Nakajima, Using Virtualized Operating Systems as a Ubiquitous Computing Infrastructure, In Proceedings of 2nd IEEE Workshop on Software Technologies for Embedded and Ubiquitous Computing Systems (WSTFEUS 2004) .
	    </ul class="list-group">
	</div>
      </div>
      
      <div class="col-xs-12">
	<div class="col-xs-12">
	  <h3>査読付き国内学会</h3>
	</div>
	<div class="col-xs-12">
	  <ul class="list-group">
	    <li class="list-group-item">樫村健人, 菅谷みどり, TheatreFourze: 舞台演出手法を取り入れたCGとセンサ連携を実現するProcessing言語向けライブラリの提案,インタラクション2015論文集, 2015, 258-263, 2015-2-26.</li>
	      <li class="list-group-item">住谷拓馬，松原豊，中野美由紀，菅谷みどり，マルチコアベースのロボットミドルウェアによるリアルタイム処理と省電力の支援，第26回コンピュータシステム・シンポジウム(ComSys2014)，11月,2014年，東京．</li>
	      <li class="list-group-item">谷川郁太, 小倉信彦, 菅谷みどり, 渡辺晴美 : コンテキスト指向プログラミング実現に向けた実行時プログラム書き換えフレームワークの提案, 組込みシステムシンポジウム2014 論文集, pp. 84-89, (2014)</li>
	      <li class="list-group-item"> 志田 駿介, 菅谷 みどり, 倉光 君郎, Tiny Konoha: ETロボコン向けのスクリプト処理系の簡素化, 組込みシステムシンポジウム 2012 (Embedded System Symposium, ESS’ 2012), 東京, 10月, 2012年.
		<li class="list-group-item"> 菅谷 みどり, 若森 拓馬，倉光 君郎, 自動データ収集機能を備えたWeb ベースプログラミング学習システム,情報教育シンポジウム(Summer Symposium in Shizuoka, SSS’2012), 静岡, 8月, 2012年.
		<li class="list-group-item"> 菅谷みどり, 高村博紀, 横手靖彦, 倉光君郎, DRE: フォルトモデルを考慮した障害回避の支援基盤の提案, 先進的計算基盤システムシンポジウム（Symposium on Advanced Computing Systems and Infrastructures; SACSIS’12）, 神戸, 5月2012年
		    <li class="list-group-item"> 菅谷 みどり, 山本　修一郎，高井 利徳, 倉光 君郎, オープンシステムディペンダビリティ：新しいディペンダビリティへの挑戦, ソフトウエアエンジニアリングシンポジウム(Software Engineering Symposium, SES’2012), 東京, 8月, 2012年.
		      <li class="list-group-item"> 小野田 武朗, 菅谷 みどり, 倉光 君郎, Web技術文書からのグルーコード自動生成手法の提案, ソフトウエアエンジニアリングシンポジウム(Software Engineering Symposium, SES’2012), 東京, 8月, 2012年.
			<li class="list-group-item"> 五十嵐健, 中田晋平,菅谷みどり, 倉光君郎,リアルタイムシステムにおけるログ解析フレームワークの設計,第3回データ工学と情報マネジメントに関するフォーラム(DEIM2011), ラフォーレ修善寺, 2月27日.
			  <li class="list-group-item"> 五嶋壮晃, 中田晋平, 菅谷みどり, 倉光君郎, 障害解析支援のためのオンラインログストリームエンジンの開発,第3回データ工学と情報マネジメントに関するフォーラム(DEIM2011), ラフォーレ修善寺, 2月27日.
			    <li class="list-group-item">中田 晋平, 平岡 裕太郎, 五嶋 壮晃, 菅谷 みどり, 倉光 君郎, Dependability Cases を用いたソフトウェアの運用時検査法, ソフトウエアシンポジウム, IPSJ/SIGSE Software Engineering Symposium (SES2010).
			      <li class="list-group-item"> 平岡 佑太郎, 中田 晋平, 菅谷 みどり, 倉光 君郎, Case Wiki: 組織を越えたDependability Cases 構築システム, ソフトウエアシンポジウム, IPSJ/SIGSE Software Engineering Symposium (SES2010).
				<li class="list-group-item"> 菅谷みどり, スキル＆コミュニケーションの向上を目的とした学生主催の教育プロジェクトの運営と実施, IPSJ/SIGSE Software Engineering Symposium (ESS2006). 11月, 2006年
				  <li class="list-group-item">菅谷みどり, 追川修一，中島達夫, ”組込みシステム向けOSのQoSサポートによる資源保護”, 第8回 プログラミングおよび応用のシステムに関するワークショップ （SPA2005）, 3月, 2005年
				    <li class="list-group-item">菅谷みどり，追川修一；”ロバストなオペレーティングシステムを実現するクラス別スケジューラの実装と評価”, 第7回プログラミングおよびシステムに関するワークショップ (SPA2004)，3月, 2004
				      <li class="list-group-item"> 菅谷みどり, 中島達夫; “Linux におけるファイルシステムの性能及び信頼性の検証”. Linux Conference, 11月2002年.
					<li class="list-group-item"> 香取知浩, 菅谷みどり,中島達夫: セキュアOS上での動的ファイルアクセス制御システムの提案, 第11回プログラミングおよびシステムに関するワークショップ (SPA2007)，2007．8. Online.
					  <li class="list-group-item"> 追川修一，菅谷みどり，中島達夫; “OS仮想化環境におけるCPU資源予約”, 第15回コンピュータシステムシンポジウム, 2004.11.
	    </ul class="list-group">
    	</div>
      </div>

      <div class="col-xs-12">
	<div class="col-xs-12">
	  <h3>研究会、その他(Domestic Symposium, Others, Talks)</h3>
	</div>
	<div class="col-xs-12">
	  <ul class="list-group">
	    <li class="list-group-item">岡田明帆，菅谷みどり，ロボットの能動的な行動によるユーザの印象評価の向上，人間情報学会ポスター発表, 9月, 東京.</li><li class="list-group-item">Midori Sugaya, Digital Play Therapy for children with Learning Disabilities, IEEE, The 24th International Symposium on Robot and Human Interactive Communication, 2015, Workshop of Toy Robots/Digital environments and Cognitive Developmental Neuroscience, 2015. Kobe</li>
	      <li class="list-group-item">柳田将希，中山　悟, 前田道雄, 中野美由紀, 菅谷みどり, 広域の遺失物探索を実現するネットワーク分散ロボットサービス, クラウドネットワークロボット, 電子情報通信学会，信学技報, vol. 115, no. 118, CNR2015-4, pp. 15-20, 2015年6月.</li>
	      <li class="list-group-item">宮入崇誠・○中山　悟・長澤純人・中野美由紀・菅谷みどり, 人型ロボットを用いた問診促進インターフェイス, クラウドネットワークロボット, 電子情報通信学会，信学技報, vol. 115, no. 118, CNR2015-5, pp. 21-26, 2015年6月</li>
	      <li class="list-group-item">住谷拓馬，長峰貴矩，松原豊，菅谷みどり，自律移動ロボット制御システム向け省電力指向ソフトウェアプラットフォーム，分野・地域を越えた実践的情報教育協働ネットワーク組み込みシステム分野(enPiT-Emb)，3月，2015年，愛知.</li>
	      <li class="list-group-item">中山悟,住谷拓馬,中野美由紀,菅谷みどり,RLS:分散ロボットシステムのデータ収集プラットフォーム,組込み技術とネットワークに関するワークショップ ETNET2015,3月,2015年.鹿児島.</li>
	      
	      <li class="list-group-item">柳美由貴、堀江亮太、大倉典子、菅谷みどり、ものづくりワークショップの実践を通じた「かわいい」に関する感性の理解、第10回日本感性工学会大会春季大会、2015年3月</li>
	      <li class="list-group-item">宮入崇誠，中山　悟，高松みどり，長澤純人，菅谷みどり, スマートフォンとロボットを利用した治療促進インターフェイスの提案, 第77回全国大会講演論文集，2015.</li>
	      <li class="list-group-item">東　拓磨，中野美由紀，菅谷みどり, 空撮ロボットのバッテリー使用量にもとづく実行時間推定手法の提案, 第77回全国大会講演論文集，2015.</li>
	      <li class="list-group-item">長峰貴矩，松原 豊，菅谷 みどり, 見守りロボットの省電力化の検討,第77回全国大会講演論文集，2015.</li>
	      <li class="list-group-item">柳田将希，中野美由紀，菅谷みどり, ロボットのクラウド化におけるリアルタイム処理の検討, 第77回全国大会講演論文集，2015.</li>
	      <li class="list-group-item">Yukako Watanabe, Yoshiko Okada, Hirotaka Osawa, Midori Sugaya, Digital Play Therapy for Developmental Disorders,Human Computing Interaction International 2015 (HCI 2015), accepted.</li>
	      <li class="list-group-item">中山悟,住谷拓馬,中野美由紀,菅谷みどり,RLS:分散ロボットシステムのデータ収集プラットフォーム,情報処理学会研究報告. EMB, 組込みシステム 2015-EMB-36(45), 1-6, 2015-02-27.</li>
	      <li class="list-group-item">樫村健人, 菅谷みどり, TheatreFourze: 舞台演出手法を取り入れたCGとセンサ連携を実現するProcessing言語向けライブラリの提案, インタラクション2015論文集, 2015, 258-263, 2015-2-26.</li>
	      <li class="list-group-item">渡辺柚佳子,樫村健人,岡田佳子,大澤博隆,菅谷みどり, 橙色の屋根のお家: 発達障害を持つ子ども向けのデジタルプレイセラピーの提案,情報処理学会研究報告.ユビキタスコンピューティングシステム(UBI)2015-UBI-45(24), 1-8, 2015-02-23.</li>
	      
	      <li class="list-group-item">住谷拓馬，松原豊，中野美由紀，菅谷みどり，リアルタイム処理と省電力を支援するロボットミドルウェア，コンピュータシステム・シンポジウム論文集，2014，36-43.</li>
	      <li class="list-group-item">住谷拓馬，松原豊，中野美由紀，菅谷みどり，マルチコアベースのロボットミドルウェアによるリアルタイム処理と省電力の支援，第26回コンピュータシステム・シンポジウム(ComSys2014)，11月，2014年，東京．</li>
	      <li class="list-group-item">中山悟,柳田将希,住谷拓馬,中野美由紀,菅谷みどり,情報収集をするロボットプラットフォームの実現に向けて,情報処理学会研究報告. EMB, 組込みシステム 2014-EMB-35(10), 1-8, 2014-11-11.</li>
	      <li class="list-group-item">Yukako Watanabe, Yoshiko Okada, Hirotaka Osawa, Midori Sugaya, Digital play therapy for children with learning disabilities, Proceedings of the second international conference on Human-agent interaction ? HAI ’14,185?188, 2014-10-30.</li>
	      <li class="list-group-item">樫村健人, 大澤博隆, 菅谷みどり, 舞台演出手法を取り入れたMixed Reality アプリケーション開発環境, エンタテインメントコンピューティングシンポジウム2014論文集, 2014,118-122, 2014-09-12.</li>
	      <li class="list-group-item">渡辺柚佳子,岡田佳子,大澤博隆,橙色の屋根のお家：楽しみながら訓練できるデジタルセラピーデバイス,エンタテインメントコンピューティングシンポジウム2014論文集 ,2014,225-228,2014-09-12.</li>
	      <li class="list-group-item">住谷拓馬，リアルタイム処理と省電力を支援するロボットミドルウエア, Summer Workshop on Embedded System Technologies(SWEST16), 8月, 2014年. 岐阜.</li>
	      
	      <li class="list-group-item">柳美由貴、石原由理、高橋英里、本道真衣、渡辺由佳子、菅谷みどり、國井秀子、大倉典子、松浦佐江子、中野美由紀、野田夏子、平田貞代、谷田川ルミ、岡田佳子、“かわいい”を表現するものづくりワークショップの実践” 、第16回日本感性工学会大会、2014年9月（依頼講演）</li>
	      <li class="list-group-item">柳美由貴、石原由理、高橋英里、本道真衣、渡辺由佳子、菅谷みどり、國井秀子、大倉典子、松浦佐江子、中野美由紀、野田夏子、平田貞代、谷田川ルミ、岡田佳子、Fab Girl Project、SWEST16: 16th Summer Workshop on Embedded System Technologies、2014年8月（依頼講演）</li>
	      <li class="list-group-item">渡辺柚佳子,岡田佳子,大澤博隆,菅谷みどり, 橙色の屋根のお家:コミュニケーションに障害を持つ児童向けのデジタル教材,情報処理学会研究報告.ユビキタスコンピューティングシステム(UBI)2014-UBI-43(8),1-6,2014-07-21.</li>
	      <li class="list-group-item">住谷拓馬, 菅谷みどり, 家庭用移動ロボットを用いた見守りシステムの実現, 第184回SE・第33回EMB合同研究発表会, 情報処理学会研究報告. ソフトウェア工学研究会報告 2014-SE-184(5), 1-7, 2014-05-12.</li>
	      <li class="list-group-item">鈴木達也，菅谷みどり，転倒検知による見守りシステムの実現， 第76回全国大会講演論文集，1，2014，77-79.</li>
	      <li class="list-group-item">木下智也，菅谷みどり，移動体ロボットによる見守りの検討， 第76回全国大会講演論文集，1，2014，79-81.</li>
	      <li class="list-group-item">住谷拓馬，菅谷みどり，マルチパーパスロボットを実現する機能統合システムの提案，第76回全国大会講演論文集，1，2014，81-83.</li>
	      <li class="list-group-item">河合広至，菅谷みどり，Arduinoを用いた自律同期通信システムの提案， 第76回全国大会講演論文集，1，2014，83-85.</li>
	      <li class="list-group-item">長谷川弘 享，菅谷みどり，異常プロセスの検知と隔離によるセルフヒーリングシステムの提案， 第76回全国大会講演論文集，1，2014，85-87.</li>
	      <li class="list-group-item">渡辺 柚佳子,樫村 健人,吉田 裕幸,矢野 雄也,住谷 拓馬,河合 広至,菅谷 みどり,センサー入力とCGの連携を体験する演習教材,インタラクション2014論文集,2014,184-186, 2014-02-20.</li>
	      <li class="list-group-item">谷川郁太, 小倉信彦, 菅谷みどり, 渡辺晴美 : 組込みソフトウェアプロトタイプ開発のためのプログラム動的書き換え, 電子情報通信学会技術研究報告. CPSY, コンピュータシステム 113(497), pp.205-209, (2014)</li>
	      <li class="list-group-item">谷川郁太, 小倉信彦, 菅谷みどり, 渡辺晴美 : C#プログラム実行時書き換えによるコンテキスト指向プログラミングの実現, PRO2014, pp.1-8, (2014)</li>
	      <li class="list-group-item">住谷拓馬，河合 広至，菅谷みどり，移動ロボット上でのサービス統合システムの提案，組み込みシステムシンポジウム2013(ESS2013)，10月，2013年，東京.</li>
	      
	      <li class="list-group-item"> 志田 駿介，井出 真広，菅谷 みどり，倉光 君郎, Mindstorms NXTを対象としたスクリプト処理系のコンパクト化, 情報処理学会 第94回プログラミング研究会, 秋田, 6月, 2013年.
		<li class="list-group-item"> 内田 篤史, 養安 元気, 井出 真広, 菅谷みどり, 倉光君郎, スクリプト言語Konohaによるカーネル診断スクリプトの開発, ポスター, 組込みシステムシンポジウム 2012 (Embedded System Symposium, ESS’ 2012), 東京, 10月, 2012年.
		  <li class="list-group-item"> 志田 駿介, 菅谷 みどり, 倉光 君郎, Tiny Konoha: ETロボコン向けのスクリプト処理系の簡素化, ポスター, 組込みシステムシンポジウム 2012 (Embedded System Symposium, ESS’ 2012), 東京, 10月, 2012年.
		    <li class="list-group-item">菅谷みどり, 井出真広, 中田晋平, 養安元気, 倉光君郎, ログベースアクターを用いた統合運用管理ツール基盤, 2012年, 並列/分散/協調処理に関する 『鳥取』サマー・ワークショップ(2012 “Tottori” Summer United Workshops on Parallel, Distributed, and Cooperative Processing), 7月, 2012年, 鳥取.
		      <li class="list-group-item">志田 駿介, 倉光 君朗, 井出 真広, 菅谷 みどり, SSA 変換を用いた JavaScript 難読化コードの生成, 2012年, 並列/分散/協調処理に関する 『鳥取』サマー・ワークショップ(2012 “Tottori” Summer United Workshops on Parallel, Distributed, and Cooperative Processing), 7月, 2012年, 鳥取.
			<li class="list-group-item">中田晋平, 養安元気, 菅谷みどり, 山本修一郎, 倉光君郎, 障害対応ワークフローに起こる二次リスクの保証事例の報告, 2012年, 並列/分散/協調処理に関する 『鳥取』サマー・ワークショップ(2012 “Tottori” Summer United Workshops on Parallel, Distributed, and Cooperative Processing), 7月, 2012年, 鳥取.
			  <li class="list-group-item">菅谷 みどり, 山本修一郎, 倉光 君郎, オープンシステムディペンダビリティ　〜 新しいディペンダビリティへの挑戦 〜, 電子情報通信学会, 知能ソフトウエア工学研究会(KBSE), 2012年, 5月, 東京.
			    <li class="list-group-item"> Midori Sugaya，Hiroki Takamura，Yoichi Ishiwata，Satoshi Kagami，Kimio Kuramitsu, Online Kernel Logging and Analysis for Real-time Robotics Applications, IPSJ SIG 176th System Engineering, 25th Embedded System Cooperated Research Workshop, 2012, 5, Tokyo.
			      <li class="list-group-item">養安元気，菅谷みどり，井出真広，倉光君郎, 移動のないIncremental GCにおけるリアルタイム性評価, 第176回SE・第25回EMB合同研究発表会, 5月2012年, 東京. [情報処理学会,コンピュータサイエンス領域奨励賞受賞]
				<li class="list-group-item">養安元気，中田晋平，岡本悠希，菅谷みどり，倉光君郎, D-Script: 分散環境における障害管理を行うスクリプト言語基盤, 先進的計算基盤システムシンポジウム（Symposium on Advanced Computing Systems and Infrastructures; SACSIS’12）, Poster 発表, 神戸, 5月2012年.
				  <li class="list-group-item"> 菅谷 みどり, 倉光 君郎, 高村 博紀, 横手 靖彦, 柔軟な障害管理システムの提案, ディペンダブルシステムワークショップ＆シンポジウム (DSW & DSS 2011), 2011年, 12月, 京都
				    <li class="list-group-item"> 倉光 君郎, 若森 拓馬, 菅谷 みどり. D-Script: 分散システムのディペンダビリティ管理を行うスクリプト言語フレームワーク,ディペンダブルシステムワークショップ＆シンポジウム (DSW & DSS 2011), 京都, 12011/12/13-14
				      <li class="list-group-item"> 中田晋平, 菅谷みどり, 倉光君郎, “運用時障害の解析支援のための言語ロギング,” ディペンダブルシステムワークショップ＆シンポジウム (DSW & DSS 2011) ポスターセッション, 2011/12/13-14, 京都.
					<li class="list-group-item">平岡佑太郎, 菅谷みどり, 倉光君郎, "KonohaScript による MPI 統合," 第86回プログラミング研究発表会 (PRO-2011-3), 2011/11/1, 神奈川.
					  <li class="list-group-item">菅谷 みどり, 中田 晋平, 倉光 君郎, オープンシステムディペンダビリティの実現におけるソフトウエアのアカウンタビリティと支援技術, 日本ソフトウェア科学会第28回大会, 2011年, 9月, 沖縄.
					    <li class="list-group-item">菅谷みどり，高村博紀，倉光君郎, オープンシステムディペンダビリティ支援のための逸脱検知,並列/分散/協調処理に関するサマー・ワークショップ(SWoPP’11), 2011年, 7月, 鹿児島.
					      <li class="list-group-item"> 養安元気, 中田晋平, 菅谷みどり, 倉光君郎, "究極のGCに向けて," 夏のプログラミング・シンポジウム2011, 2011/09/2-4, 佐賀.
						<li class="list-group-item">倉光君郎, 菅谷みどり, 平岡佑太郎, "静的スクリプト言語KonohaScript", オープンソースカンファレンス2011 Nagoya, 愛知, 2011/08/20.
						  <li class="list-group-item">倉光君郎, 菅谷みどり, 井出真広, 五嶋壮晃, 平岡佑太郎, 養安元気, 若森拓馬, "静的スクリプト言語 KonohaScript", オープンソースカンファレンス2011 Kansai@Kyoto, 京都, 2011/07/15-16.
						    <li class="list-group-item"> 井出真広, 平岡佑太郎, 養安元気, 中田晋平, 菅谷みどり, 倉光君郎, "大規模主記憶環境におけるGC方式の性能評価", 情報処理学会第83回プログラミング研究発表会, 京都, 2011/4/25-26.
						      <li class="list-group-item"> 養安元気, 中田晋平, 菅谷みどり, 倉光君郎, "究極のGCに向けて",夏のプログラミング・シンポジウム2011, 佐賀, 2011/09/2-4.
							<li class="list-group-item"> 平岡佑太郎, 菅谷みどり, 倉光君郎, "KonohaScript による MPI 統合",第86回プログラミング研究発表会 (PRO-2011-3), 2011年11月1日, 神奈川.
							  <li class="list-group-item">井出 真広, 平岡 佑太郎, 養安 元気, 中田 晋平, 菅谷 みどり, 倉光 君郎, 大規模主記憶環境における GC 方式の性能評価, 情報処理学会 第83回プログラミング研究発表会, IBM基礎研究所, 3月16日.
							    <li class="list-group-item"> 加藤雅一, 平本千尋, 倉光君郎, 菅谷みどり, Accountable ART-Linux，組込みシステムシンポジウム(ESS) 2010,11.
							      <li class="list-group-item">Midori Sugaya, Logging and Failure Analysis for Open System　Dependability, Symposium "Towards Open Systems Dependability" and Workshop "Close Look at DEOS, Dec 16, 2010, Tokyo. 26. Midori Sugaya, Kimio Kuramitsu, Satoshi Kagami, From Log to Evidence: An Odyssey to Accountability, Symposium " Towards Open Systems Dependability" and Workshop "Close Look at DEOS, Dec 17, 2010, Tokyo.
								<li class="list-group-item"> 菅谷みどり, 中田晋平, 五嶋壮晃, 加藤雅一, 倉光君郎, 自律ロボット向けオンラインログ解析と障害要因解析システムの提案, 第22回 コンピュータシステム・シンポジウム (ComSys 2010), Work-In-Progress, 2010.11.
								  <li class="list-group-item"> 菅谷みどり, 高村博紀, 石綿陽一, 倉光君朗, Evidence Based Computing System Infrastructure, 第8回ディペンダブルシステムワークショップ (DSW2010).2010,8.
								    <li class="list-group-item">中田晋平, 五嶋正晃, 菅谷みどり, 倉光君郎. エビデンス窓口,第8回ディペンダブルシステムワークショップ (DSW2010).2010,8.
								      <li class="list-group-item">倉光君郎, 高村博紀, 菅谷みどり, Evidence Diagram の構想と設計, 第8回ディペンダブルシステムワークショップ (DSW2010), 2010,8.
									<li class="list-group-item">平岡佑太郎, 菅谷みどり, 倉光君郎, D-Intent: 原因特定できないエラーに対する分散リカバリーサービスの提案, 第8回ディペンダブルシステムワークショップ (DSW2010), 2010,8.
									  <li class="list-group-item">菅谷みどり，中島達夫, オンライン障害検出システムの提案, SLDM/EMB/MBL/UBI合同研究発表会(ETNET 2010), EMB16, IPSJ-EMB10016062, 2010,3.
									    <li class="list-group-item">藤井 貴晴，菅谷 みどり，福島 拓, 分散環境におけるサービスの継続性を目的とした低レイヤでの自律的な障害検出と回復の実装と評価, 並列/分散/協調処理に関するサマー・ワークショップ, 『金沢』サマー・ワークショップ（SWoPP’10）2010, 8.
									      <li class="list-group-item">大野 有輝，菅谷 みどり，秋岡 明香，中島 達夫，マルチコア環境におけるプロセス動作予測によるリソース配分最適化，研究会(第114回 システムソフトウェアとオペレーティング・システム研究会), 2010,4.
										<li class="list-group-item">菅谷みどり, 藤田肇, 塙敏博, 中澤仁, 松田元彦, 前田俊行, “ディペンダブルな組込みOSの提案”, SWEST2008, 8,予稿集, p35-38.
										  <li class="list-group-item">清水裕基，菅谷みどり，秋岡明香，吉永努,資源情報の特徴抽出によるモデル化手法と攻撃検知法の提案, 情報処理学会第72回全国大会2010, 3.　学生奨励賞受賞.
										    <li class="list-group-item">加藤雅一, 中田晋平, 平岡佑太郎, 五十嵐健，五嶋壮晃, 井出真広, 菅谷みどり, 倉光君郎, Dzero:ディペンダビリティマネジメントのための軽量フレームワーク, 日本ソフトウェア科学会ディペンダブルシステム研究会，2009,12.
										      <li class="list-group-item">五十嵐健, 中田晋平, 菅谷みどり, 倉光君郎, 2レベルモニタのためのコンフィギュラブルモニタリングシステム, 日本ソフトウェア科学会ディペンダブルシステム研究会，2009, 12.
											<li class="list-group-item">大野 有輝, 安川 要平, Andrej van der Zee, 菅谷 みどり, 中島 達夫, マルチコア環境における最適リソース配分のためのプロセス動作予測, 日本ソフトウェア科学会第26回大会，2009,9. CD-ROM.
											  <li class="list-group-item">清水 裕基, 菅谷 みどり, 秋岡 明香, 吉永 努, 細粒度リソース監視による攻撃検知法の提案と考察, 日本ソフトウェア科学会第26回大会，2009,9. CD-ROM.
											    <li class="list-group-item">中澤仁, 松野裕, 菅谷みどり, 塙敏博, 前田俊行, 藤田肇, 石綿陽一,杵渕雄樹, 高村博紀, 松田元彦,三 浦信一, 山田浩史, “オペレーティングシステムおよび実システムにおけるディペンダビリティの評価と見積り”, Dependable System Workshop 2009, pp27-41.
											      <li class="list-group-item">ディペンダブルシステム向けベンチマークフレームワークの提案, 加藤真平, 藤田肇, 中澤仁, 松田元彦, 前田俊行, 杵渕雄樹, 塙敏博, 三浦信一, 石綿陽一, 松野裕,高村博紀, 山田浩史, 吉田哲也, 倉光君郎, 菅谷みどり, 石川裕, Dependable System Workshop 2009.
												<li class="list-group-item">菅谷みどり，中島達夫, SMPアカウンティングシステムの設計及び実装, 全国大会講演論文集, 第70回平成20年, Vol5, pp. pp."5-323"-"5-324",2008.
												  <li class="list-group-item">藤田肇, 平野貴仁, 松葉浩也, 前田俊行, 菅谷みどり, 石川裕, “安全かつ拡張可能なOS開発基盤実現に向けて”, Dependable System Workshop, 函館, 2008, 6, p29-32.
												    <li class="list-group-item">大野有輝, 権奇徳, 菅谷みどり, 中島達夫, “リソースモニタリングによる異常検出システム”,　Dependable System Workshop 2008, p73-77.
												      <li class="list-group-item">細合晋太郎，菅谷みどり，鵜川始陽, 高信頼組込みソフトウェア構築技術の統合, 全国大会講演論文集, 第70回平成20年, Vol5, pp."5-321"-"5-322" ,2008.
													<li class="list-group-item">巻島一雄，杵渕雄樹，菅谷みどり，中島達夫, マルチOS環境におけるアカウンティングシステムの実装, 全国大会講演論文集, 第70回平成20年, Vol5, pp."5-325"-"5-326" ,2008.
													  <li class="list-group-item">菅谷みどり, 湯浅陽一, 中島達夫, SMP環境における資源管理手法の提案, 組み込みシステム研究会，情報処理学会，2007, 12.　研究報告「組込みシステム」, No.2007-EMB．
													    <li class="list-group-item">菅谷みどり, 追川修一, 中島達夫, 組込システム資産移行を支援する仮想周期実行(VPE)システムの提案, 組み込みシステム研究会，情報処理学会，2006,8.　研究報告「組込みシステム」, No.2006-EMB-002.
													      <li class="list-group-item">菅谷 みどり, タイマの精度とオーバーヘッドの検証, 次世代コンピューティングシステムに関する合同ワークショップ, 早稲田大学, 2007, 7.
														<li class="list-group-item">菅谷 みどり, OS によるセキュアな資源管理環境の提供, e-Society高信頼性組込みソフトウェア構築技術ワークショップ, 2005.12.
														  <li class="list-group-item">菅谷みどり，Linuxの資源管理と標準化, Emblix 組込みオープンソース ワークショップ2006，2.
														    <li class="list-group-item">菅谷みどり，リアルタイムスケジューラの設計と実装, JapanTechnicalJamboree12, CE Linux フォーラム（CELF）技術交流会, 2005,12.
														      <li class="list-group-item"> 菅谷みどり Linux資源管理に関する取り組みの紹介, CE Linux Forum，JapanTechnicalJamboree4, 2005.10.
															<li class="list-group-item"> 菅谷みどり，Linuxによるセキュアな資源管理環境の実現, Emblix組込みオープンソース ワークショップ2005.2.
															  <li class="list-group-item">菅谷みどり，マルチメディア組み込みシステムのためのQOSサポート, 組込みシステム技術に関するサマーワークショップ 2004.7.
															    <li class="list-group-item"> 菅谷みどり，ロバストな組み込み向けオペレーティングシステム, IPA未踏事業成果報告会, 2004.2.
															      <li class="list-group-item">菅谷 みどり, アカウンティングシステムによるCPU保護手法の提案，Summer Workshop on Embedded System Technologies(SWEST) 2005,8. プレゼンテーション賞受賞.　
																<li class="list-group-item">菅谷 みどり, VPE: 資産移行時の仮想周期実行によるリアルタイム性能と応答の保証, 次世代コンピューティングシステムに関する合同ワークショップ, 早稲田大学, 2006, 7. 実用賞受賞.
																  <li class="list-group-item">追川修一，菅谷みどり，中島達夫; “次世代情報家電のためのディペンダブルオペレーティングシステム環境”, 第一回ディペンダブルソフトウェアワークショップ (DSW04), 2004. 2.
	    </ul class="list-group">
	</div>
      </div>
   
      <div class="col-xs-12">
	<div class="col-xs-12">
	  <h3>講演、チュートリアル、パネル(Tutorial, Panel Discussion)</h3>
	</div>
	<div class="col-xs-12">
	  <ul class="list-group">
	    <li class="list-group-item">パネルセッション”ESSロボットチャレンジ10周年: 10年を振り返り、今後を語ろう”、コーディネータ: 菅谷みどり、パネリスト: 近藤隆路、高瀬英希、細合晋太郎、柳美由貴、組込みシステムシンポジウム2014(ESS2014)、2014年10月（依頼講演）</li>
	      <li class="list-group-item"> “What does Ph.D. make difference in your career?”, 平成23年度工学研究マネージメント学習プログラム　研究成果発表シンポジウム, 横浜国立大学, 3, 2012.
		<li class="list-group-item">ディペンダブルな組込みシステムのためのオンライン障害管理, 東京大学大学院情報理工学系研究科創造情報オフィス, 講演,3, 2010.
		  <li class="list-group-item"> 障害管理システムと未来の組込みシステム, Next Generation Computing Workshop, 早稲田大学, 講演,3, 2010.
		    <li class="list-group-item">Linux のディペンダビリティ及びリアルタイム性能, 2008, Summer Workshop in Embedded System 2008, 浜松, August, 2008.
		      <li class="list-group-item">安心・安全な組込みシステム実現に向けて, パネルモデレータ: 高田 広章, パネリスト: 有本民和，枝廣正人，岸　知二, 組込みシステムシンポジウム(ESS2008), 東京, 代々木, パネル，2008.
			<li class="list-group-item"> 次世代組込みシステム用ディペンダブルOS研究開発における産学官連携，特別セッション(1)：安全・安心を保証する組込みソフトウェアに向けて，情報処理学会第69回全国大会2007, 3. パネル．
			  <li class="list-group-item"> 組込みLinux最新情報 : リアルタイムLinuxの現状, Embedded Technology 2006 組込み総合技術, Emblixセッション, 2006,11.
			    <li class="list-group-item"> 組み込みLinuxにおけるリソース管理, 情報処理学会，連続セミナー2005，『組み込みシステム開発の最前線』第5回「組み込みソフト開発事例（組み込みOS系）」，講師, 2005,11.
			      <li class="list-group-item"> 組込みシステム研究グループ企画，組込みソフトウェア技術者教育，組み込みソフトウェアシンポジウム 2005. 11.講演，パネルディスカッション.
	    </ul class="list-group">
	</div>
      </div>
      
      <div class="col-xs-12">
	<div class="col-xs-12">
	  <h3>書籍(Books)</h3>
	</div>
	<div class="col-xs-12">
	  <ul class="list-group">
	    <li class="list-group-item">アットマーク・アイティ, 連載: Linuxファイルシステム技術解説 (2003/5 - 2004/8)
	    <li class="list-group-item"> 第1回 VFSとファイルシステムの基礎技術 (週間トップビュー獲得)
	    <li class="list-group-item"> 第2回 ブロックアルゴリズムとB-Treeアルゴリズム
	    <li class="list-group-item"> 第3回 ジャーナリングが保護する「情報」
	    <li class="list-group-item"> 第4回 ext3とトランザクション処理
	    <li class="list-group-item"> 第5回 進化し続けるReiserFS
	    <li class="list-group-item"> 第6回 JFSのファイル管理とジャーナリングの実装
	    <li class="list-group-item"> 第7回 64bitファイルシステム XFSの実装
	    <li class="list-group-item"> UNIX USER 2005, 7月号, Ext3ファイルシステムにおけるジャーナリング処理
	    <li class="list-group-item"> UNIX USER 2004, 3月号, ファイルシステム性能比較
	  </ul class="list-group">
	  <ul class="list-group">
	    <li class="list-group-item"> Mario Tokoro, et.al, Midori Sugaya (Contributors), Open Systems Dependability: Dependability Engineering for Ever-Changing Systems, CRC Press, 2012.
	    <li class="list-group-item"> 中山房光夫, 菅谷みどり， VAIOノートで始めるTurbolinux,シイエム・シイ出版部, 2001,8
	    <li class="list-group-item"> 中山房光夫, 菅谷みどり，UNIX使いになるためのSolaris 8導入術 ノートPCへのインストールからシステム管理まで, シイエム・シイ出版部, 2001,3
	    <li class="list-group-item"> Midori Sugaya, Shuichi Oikawa, Tatsuo Nakajima, A Practical Approach to CPU Resource Management for Embedded System. Embedded Systems: Status and Perspective, 2008, American Scientific Publishers.
	  </ul class="list-group">
	</div>
      </div>
      
    </div>
  </div>
</div>
