<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>論文誌(Journals)</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>菅谷 みどり</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>査読付き国際学会</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>柳田 将希</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>査読付き国内学会</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>保科 篤志</p>
    	  </div>
	</div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>研究会、その他(Domestic Symposium, Others, Talks)</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>平松 拓也</p>
	  </div>
	</div>
      </div>
   
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>講演、チュートリアル、パネル(Tutorial, Panel Discussion)</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>渡辺 柚佳子</p>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="col_box clearfix">
	  <div class="col-xs-6 col-sm-12">
	    <h3>書籍(Books)</h3>
	  </div>
	  <div class="col-xs-6 col-sm-12">
	    <p>渡辺 柚佳子</p>
	  </div>
	</div>
      </div>

    </div>
  </div>
</div>
