<div class="row marketing">
  <div class="col-lg-6">
    <h4>次世代システムのためのソフトウェア基盤</h4>
    <p>次世代のコンピュータシステムは、身近なデバイスと、クラウド上のデータが融合する新しいサービスが次々生まれるダイナミックな環境の中で構築されます。菅谷研究室では、次世代のコンピュータシステムにふさわしい、ソフトウエア基盤の研究開発を行っています。
    </p>

    <h4>ロボットプラットフォーム</h4>
    <p>プラットフォームとは,ハードウェアやソフトウェアをどうさせる為に必要な,基盤となるハードウェアやOS,ミドルウェアなどのことを指します. ロボットが集めたデータをサーバを通して共有する環境を作り,「遺失物探索ロボットシステム」の作成.ロボット自体の稼働時間を延ばすための「省電力化」にも取り組んでいます。
    </p>

    <h4>ロボットとのコミュニケーション</h4>
    <p>私たちの暮らしを支える一員として,様々なロボットが存在しています. ロボットと人間のコミュニケーションに関する研究は長い間されています. ユーザーの『行動』に対するロボットの反応の印象評価を行うものが多数を占めていますが, 私たちは『行動』ではなく『感情』に着目し,ユーザの感情を読み取ることが出来れば,より円滑で精度の高いコミュニケーションが図れるのではないかと期待し,研究に取り組んでいます.</p>

    <h4>デジタルセラピーデバイス</h4>
    <p>学習障害や発達障害の問題を抱えている子供の言語コミュニケーション能力を向上させることを目的として『橙色の屋根のお家』を開発しました. 家型のデバイスとCG上の部屋の様子をリンクさせることにより,物理的・視覚的に理解の向上を図ることが可能です. 今後は,ユーザの分身をCGとして表示させる等の機能拡張を行い,『共感』を導入した研究を行っていきます.</p>

    <h4>高齢者の生活を支援するための技術</h4>
    <p>現在の日本は,高齢者人口が25%を超える超高齢化社会を迎えています. それと同時に,単身高齢者の事故は増える一方であり,身近で見守る近親者も減少する一方である結果,本来防げる自己も防げない状態に陥っています. そこで,私たちは支援ロボットの対象者を高齢者とし,転倒検知や追従システムを搭載した見守りロボットの開発や,行動を推定して動くロボットによるリハビリテーション支援等を行っています.</p>
    
  </div>
</div>

