.header{
    border-top:5px solid #a9cf68;
    border-bottom:3px solid #739938;
}
.logo{
    margin:0.5em auto;
    display:block;
    border-bottom: 1px solid #000;
}

.headerNavBtn{
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    color: #222;
    font-size: 16px;
    background: #fff;
}
.headerNavBtn:hover{
    background:#95bb5a;
}

.mainBanner{
    padding: 2px;
    height: 300px;
    position: relative;
    
}
.mainBanner .container{
    background-color: rgba(0,0,0,0.5);
    height: auto;
    bottom: 10px;
    position: absolute;
    color: #fff;
    padding: 2px;
}
.section{
    text-align: center;
}

.box{
    border: 1px solid #ddd;
    padding: 5px;
}

.section h2:before {
    content:":~$ ";
}
.intro img{
    margin: auto;    
    max-height: 100px;
}

#news td{
    text-align: left;
}
.news_content{
    position: relative;
}
.news_content>a{
    color: #517716;
}
.news_content>div{
    position: absolute;
    padding-bottom: 20px;
    bottom: 10%;
    display:none;
    background: #c8ee8e;
}

.copyright{
    text-align: center;
    margin: 0.5em auto;
    display: block;
}

.footer{
    background: #b7dd7d;
    margin-top: 10px;
}

