<div id="footer">
                <div id="flinks">
                        <ul>
                                <li><a href="research.html">研究紹介</a></li>
                                <li><a href="members.html">研究室, メンバー</a></li>
                                <li><a href="publications.html">業績</a></li>
                                <li><a href="profile.html">教員紹介</a></li>
                                <!-- <li><a href="link.html">リンク</a></li> -->
                                <li><a href="access.html">アクセス</a></li>
                        </ul>
                        <p>Copyright(c) 2012 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></p>
                </div>
                <div class="logo">
                        <a href="index.html">Systems Software<br />Laboratory</a>
                </div>
        </div>

