<div> class="inner">Systems Software Laboratory</div>

        <div id="header">
                <table>
                        <tr>
                                <td style="width:700px;height:70px;vertical-align:top;">
                                        <div class="logo">
                                                <a href="index.html">基盤システ
ムソフトウエア研究室</a>
                                        </div>
                                </td>
                                <td style="width:320px;height:70px;vertical-align:middle;">
                                        <div class="info">
                                                <div class="strong">菅谷研究室</div>
                                                芝浦工業大学&nbsp;工学部&nbsp;情報工学科<br />
                                                &#12306;135-8548&nbsp;東京都江東区豊洲3-7-5&nbsp;研究棟&nbsp;14F&nbsp;32A
                                        </div>
                                </td>
                        </tr>
                </table>
        </div>

        <div id="wrapper">

 <div id="wrapper">

                <table id="navbar">
                        <tr>
                                <td class="on"><a href="./index.html">トップページ<br><span>Top</span></a></td>
                                <td class="off"><a href="./research.html">研究紹介<br><span>Research</span></a></td>
                                <td class="off"><a href="./members.html">メンバ
ー<br><span>Members</span></a></td>
                                <td class="off"><a href="./publications.html">業績<br><span>Publications</span></a></td>
                                <td class="off"><a href="./profile.html">講義/教員紹介<br><span>Lecture/Profile</span></a></td>
                                <td class="off"><a href="./access.html">アクセス<br><span>Access</span></a></td>
                        </tr>
                </table>

