<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
    <title>doly lab</title>
    <%= javascript_include_tag "google_analytics" %>
</head>
<body>
<%= yield :header %>
<%= yield %>
<%= yield :footer %>
</body>
</html>
